.Pokemon {
  &__tags {
    display: flex;
    &__tag {
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 44px;
      min-width: 44px;
    }
    &__tag--water {
      background-image: url('./images/water.png');
    }
    &__tag--flying {
      background-image: url('./images/flying.png');
    }
    &__tag--dark {
      background-image: url('./images/dark.png');
    }
    &__tag--dragon {
      background-image: url('./images/dragon.png');
    }
    &__tag--ghost {
      background-image: url('./images/ghost.png');
    }
    &__tag--normal {
      background-image: url('./images/normal.png');
    }
    &__tag--grass {
      background-image: url('./images/grass.png');
    }
    &__tag--poison {
      background-image: url('./images/poison.png');
    }
    &__tag--fire {
      background-image: url('./images/fire.png');
    }
    &__tag--bug {
      background-image: url('./images/bug.png');
    }
    &__tag--fighting {
      background-image: url('./images/fighting.png');
    }
    &__tag--ground {
      background-image: url('./images/ground.png');
    }
    &__tag--psychic {
      background-image: url('./images/psychic.png');
    }
    &__tag--fairy {
      background-image: url('./images/fairy.png');
    }
    &__tag--electric {
      background-image: url('./images/electric.png');
    }
    &__tag--rock {
      background-image: url('./images/rock.png');
    }
    &__tag--ice {
      background-image: url('./images/ice.png');
    }
    &__tag--steel {
      background-image: url('./images/steel.png');
    }
  }
}

// Media queries

@media screen and (max-width: 1000px) {
  .Pokemon__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Pokemon__tags {
    display: none;
  }
}

@media screen and (max-width: 636px) {
  .Pokemon__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Pokemon__tags {
    display: none;
  }
}

@media screen and (max-width: 421px) {
  .Pokemon__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Pokemon__tags {
    display: none;
  }
}
