.Pokemon__link {
  width: 31%;
  text-decoration: none;
  color: #2c2f33;
}

.Pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__number {
    font-family: 'Mandali', sans-serif;
  }
  &__name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
    font-family: sans-serif;
  }
  &__image {
    // width: 12rem;
    // min-height: 10rem;
    width: 60%;
    background: #ece9e6; /* fallback for old browsers */

    // image-rendering: pixelated;
  }
}

// Media queries

@media screen and (max-width: 1000px) {
  .Pokemon__link {
    width: 45%;
  }
  .Pokemon__image {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .Pokemon__link {
    width: 45%;
  }
  .Pokemon__image {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .Pokemon__link {
    width: 100%;
  }
  .Pokemon__image {
    width: 60%;
  }
}
